<p style="color: green"><%= notice %></p>

<%= render @storage_item %>

<div>
  <%= link_to "Edit this storage item", edit_storage_item_path(@storage_item) %> |
  <%= link_to "Back to storage items", storage_items_path %>

  <%= button_to "Destroy this storage item", @storage_item, method: :delete %>
</div>
