<p style="color: green"><%= notice %></p>

<%= render @storage_item %>

<div>
  <%= link_to "Edit this storage item", place_storage_item_path(@place, @storage_item) %> |
  <%= link_to "Back to place", place_path(@place) %>

  <%= button_to "Destroy this storage item", place_storage_item_path(@place, @storage_item), method: :delete %>
</div>
