
  <%= form_with(model: place) do |form| %>
    <% if place.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
          <% place.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <%= form.label :location, style: "display: block" %>
            <%= form.text_field :location %>
            <br>
            <%= form.label :image %>
            <%= form.file_field :image, id: :place_image %>
          </div>
          <div class="card-footer text-center">    
            <%= form.submit class: "btn btn-light btn-rounded"%>    
            <% end %>
          </div>
        </div>
      </div>
    </div>
