<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @place %>">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5><strong><%= link_to @place.location, @place %></strong></h5>
    </div>
      <img src="..." class="card-img-top" alt="..." >
        <ul class="list-group list-group-flush">
          <li class="list-group-item" > 
              <% @place.storage_items.each do |storage_item| %> <br>
                <%= link_to storage_item.title, place_storage_item_path(@place, storage_item) %>
              <% end %> 
          </li>
        </ul>
    <br>
    <div class="card-content d-grid gap-1">
      <%= link_to "Create a new storage item", new_place_storage_item_path(@place), class: "btn btn-primary btn-rounded" %> 
      <%= button_to "Destroy this place", place_path(@place), method: :delete, class: "btn btn-danger btn-rounded" %>
    </div>
    <br>
    <div class="card-footer text-center">
      <%= link_to "Back to places", places_path(@place), class: "btn btn-light btn-rounded" %>
    </div>
  </div>
</div>

  


