<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @place %>">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5><strong><%= link_to @place.location, @place %></strong></h5>
    </div>
      <img src="..." class="card-img-top" alt="...">     
        <% @place.storage_items.each do |storage_item|  %>
      <%= link_to storage_item.title, place_storage_item_path(@place, storage_item) %> |
    <% end %>
    <div class="card-content gap-4 col-10 mx-auto">
      <%= link_to 'Create a new storage item', new_place_storage_item_path(@place), class: "btn btn-primary" %> 
      <%= link_to "Destroy this place", @place, method: :delete, class: "btn btn-danger" %>
    </div>
  <div class="card-footer">
  <%= link_to "Back to places", places_path %>
  </div>
  </div>
</div>

  


